include components/pug.pug
<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="bootstrap/css/bootstrap.min.css")
    script(src="bootstrap/js/jQuery.js")
    script(src="bootstrap/js/bootstrap.min.js")
    link(rel="stylesheet", href="bootstrap/fontawsome/css/all.min.css")
    link(rel="stylesheet", href="style.css")
    title Bootstrap 4
  body
    include components/menu.pug
    include components/home.pug
    include components/intro.pug
    include components/services.pug
    include components/projects.pug
    include components/about.pug
    include components/contact.pug
    .hide-menu
      label(for="menu-toggle" class="fas fa-bars")
      input#menu-toggle(type="checkbox")
      ul#hide-menu__menu
        li
            a(href="#home") HOME
        li
            a(href="#intro") INTRO
        li
            a(href="#service") SERVICES
        li
            a(href="#project") PROJECTS
        li
            a(href="#about") ABOUT
        li
            a(href="#contact") CONTACT