section.container#about
    .row
        .col-lg-6.about-left
            img(src="images/about.jpg", alt="about")
        .col-lg-5.ml-auto.about-right.mt-3
            .about-right__title ABOUT
                h2 We're Passionate About Delivering Growth Services
                p Our goal is to provide the right business growth services at the appropriate time so companies can benefit from the created momentum and thrive for a long period of time
                ul
                    li Everything we recommend has direct positive impact
                    li You will become an important partner of our company
                .about-right__counter
                    .about-right__counter-item
                        .about-right__counter-number 231
                        .about-right__counter-info Happy Users
                    .about-right__counter-item
                        .about-right__counter-number 121
                        .about-right__counter-info Issues Solved
                    .about-right__counter-item
                        .about-right__counter-number 159
                        .about-right__counter-info Good Reviews