section#contact
    .container
        .row
            .col-lg-6.contact-left
                .contact-left__title CONTACT
                    h2 Get In Touch Using The Form
                    p You can stop by our office for a cup of coffee and just use the contact form below for any questions and inquiries
                    .contact-left__info-contact
                        .contact-left__info-item
                            i(class="fas fa-street-view")
                            span    22nd Innovative Street, San Francisco, CA 94043, US
                        .contact-left__info-item
                            i(class="fas fa-phone")
                            span    +81 720 22 126
                        .contact-left__info-item
                            i(class="fas fa-phone")
                            span    +81 720 22 128
                        .contact-left__info-item
                            i(class="fas fa-envelope")
                            span    office@aria.com
                    h3 Follow Aria On Social Media
                    .contact-left__group-social
                        i(class="fab fa-facebook-square")
                        i(class="fab fa-twitter-square")
                        i(class="fab fa-google-plus-square")
                        i(class="fab fa-instagram")
                        i(class="fab fa-linkedin")
                        i(class="fab fa-behance-square")
            .col-lg-6.contact-right.mt-5.mt-lg-0
                .contact-right__text-input
                    input#inputName(type="text" placeholder="Your Name ...")
                    label(for="inputName") Name
                .contact-right__text-input
                    input#inputEmail(type="text" placeholder="Your Email ...")
                    label(for="inputEmail") Email
                .contact-right__text-area
                    textarea#inputMess(placeholder="Your Message ...")
                    label(for="inputMess") Message
                .contact-right__accept
                    input(type="checkbox", id="checked")
                    label(for="checked") I agree with Aria's stated Privacy Policy and Terms Conditions
                a.contact-right__btn-submit SUBMIT MESSAGE