header#home
    .header-content
        h1 BUSINESS  
        span.header-content__item-transform
            span.header-content__item-list
                span.header-content__item SOLUTIONS 
                span.header-content__item TEMPLATES 
                span.header-content__item SERVICES
        p Aria is a top consultancy company specializing in business growth using online marketing and conversion optimization tactics
        a.header-content__btn(href='#intro') DISCOVER
