section.container#intro
    .row
        .col-lg-5.intro-left
            .intro-left__title INTRO
            h2 We Offer Some Of The Best Business Growth Services In Town
            p Launching a new company or developing the market position of an existing one can be quite an overwhelming processs at times.
            p.intro-left__text "Our mission here at Aira is to get you through those tough moments relying on our team's expertise in starting and growing companies."
            .intro-left__author Louise Donovan - CEO
        .col-lg-6.ml-auto.intro-right
            img.img-fluid(src="images/intro-office.jpg", alt="intro")