section#project
    .container
        h6.project__title.text-center.font-weight-light PROJECTS
        h4.text-center Projects That We're Proud Of
        .row.flex-wrap.mt-3
            +listProject(projects)