section#service
    .container
        h6.service__title.text-center.font-weight-light SERVICES
        h4.text-center Choose The Service Package
        h4.text-center That Suits Your Needs
        .card-deck.mt-5
            .card.service__item
                img.card-img-top(src="images/services-1.jpg")
                .card-body
                    h4.card-title.text-center Off The Ground
                    p.card-text Perfect for fresh ideas or young startups, this package will help get the business off the ground
                    ul
                        li Environment and competition
                        li Designing the marketing plan
                    h5.text-center Starting at 
                        strong(style="color: rgb(29, 201, 149);") $199
            .card.service__item
                img.card-img-top(src="images/services-2.jpg")
                .card-body
                    h4.card-title.text-center Accelerated Growth
                    p.card-text Use this service pack to give your company the necessary impulse to become an industry leader
                    ul
                        li Business strategy planning
                        li Taking the planned actions
                    h5.text-center Starting at 
                        strong(style="color: rgb(29, 201, 149);") $299
            .card.service__item
                img.card-img-top(src="images/services-3.jpg")
                .card-body
                    h4.card-title.text-center Market Domination
                    p.card-text You already are a reference point in your industry now you need to learn about acquisitions
                    ul
                        li Maintaining the leader status
                        li Acquisitions the right way
                    h5.text-center Starting at 
                        strong(style="color: rgb(29, 201, 149);") $199
                    
